.wrap {
	width: 600px;
	margin: auto;
	font-family: sans-serif;
}

.quote1 {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 5px 10px 10px 5px;
  text-align: center;
  margin-top: 20px;
}

.quote2 {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 5px 10px 10px 5px;
  text-align: center;
  margin-top: 20px;
}





